body{
  background-color: #141414;
}

.image {
  position: left;
  float: left;
  max-width: 500px;
}

#str {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: rgb(231, 204, 0);
}

.off {
  color: rgb(255, 255, 255);
}

.card-body {
  overflow-wrap: break-all;
  white-space: pre;
}

.card-body-info {
  max-width: 250px;
  white-space: normal;
}

#sub{
  height: 45px;
}

.card{
  background-color: rgb(182, 216, 246);
}